.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* /Dashboard */

.keen-dashboard {
  background: #f2f2f2;
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.keen-dataviz {
  background: #fff;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  box-sizing: border-box;
}
.keen-dataviz-title {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 2px 2px 0 0;
  font-size: 13px;
  padding: 2px 10px 0;
  text-transform: uppercase;
}
.keen-dataviz-stage {
  padding: 10px;
}

.keen-dataviz-notes {
  background: #fbfbfb;
  border-radius: 0 0 2px 2px;
  border-top: 1px solid #e7e7e7;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 11px;
  padding: 0 10px;
}

.keen-dataviz .keen-dataviz-metric {
  border-radius: 2px;
}

.keen-dataviz .keen-spinner-indicator {
  border-top-color: rgba(0, 187, 222, .4);
}

.keen-dashboard .chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.keen-dashboard .chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.keen-dashboard .chart-wrapper .chart-stage {
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
}

.keen-dashboard .chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 8px 10px 5px;
}

.keen-dashboard .chart-wrapper .keen-dataviz,
.keen-dashboard .chart-wrapper .keen-dataviz-title,
.keen-dashboard .chart-stage .chart-title {
  border: medium none;
}

/* geo-explorer */
body.application {
  padding: 0;
  margin: 0;
}

.row {
  margin: 0;
}

#app-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;
}

#app-toolbar {
  background: rgba(0,0,0,.75);
  box-shadow: 0 1px 5px rgba(0,0,0,.1);
  color: #fff;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1;
}

#app-toolbar .btn-primary {
  background-color: #00afd7;
  border: medium none;
}
#app-toolbar .btn-primary:focus,
#app-toolbar .btn-primary:hover {
  background-color: #0098BB;
}

#app-maparea {
  border-right: 1px solid #d7d7d7;
  position: fixed;
  top: 0px;
  width: 67%;
  z-index: 0;
  height: 100%;
}

#app-sidebar {
  padding: 10px;
  position: absolute;
  right: 0;
  top: 75px;
  width: 33%;
}

.chart-wrapper {
    min-height: 400px;
}
.chart-stage {
    min-height: 400px;
}

#app-sidebar .chart-wrapper {
  border: medium none;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.tools {
  min-height: 75px;
  padding: 0 5px 0 0;
}

.tool input, .tool select {
  background: rgba(0,0,0,.5);
  border: medium none;
  box-shadow: none;
  color: #e7e7e7;
  float: left;
  margin: 0 1%;
}
.radius input, .radius select {
  width: 48%;
}
.tool input,
.tool label,
.tool h5 {
  text-shadow: 0 0 1px #000;
}
